@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
   
</head>
<body>
    <form>
    <div>
        Sabaresh Kumar 
    </div>
    <div>
        <input type="button" id="test" />
        <input type="text" />
    </div>
  </form>
</body>
</html>
